body{
    font-family: 'Open Sans', sans-serif;
    
}

.grid-project{
  display: none;
}


.about{
    margin-top: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#doog-img{
    height: 175px;
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.carousel-item{
 margin-top: 1em;
 background-color: rgba(33,37,41);
 align-self: center;
}

.project-title{
    margin-bottom: .75em;
    margin-top: .5em;
    text-align: center;
    color: white;
}

#project-label{
    margin-top: 2em;
    text-align: center;
}

.img-2{
    height: 190px;
    max-height: 190px;
    
}



.carousel-p{
    height: 100px;
    color: white;
    margin-top: 1em;
}

#github-icon{
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      
}

.github-icon{
    background-color: white;
    height: 100%;
    color: black;
    text-align: center;
    padding-bottom: 1em;
}

a{
    text-align: center;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: black !important;
}

.contact{
    text-align: center;
    
}

#contact-line{
    margin: 0 0 1em 0
}


#linkedin-icon{
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

#gmail-icon{
    margin-top: 1em;
    margin-bottom: 2em;

}

.line{
    
    border: 2px solid black;
    opacity: 1;
    
    

}

/* Dark Mode CSS  */

.dark-mode {
    background-color: rgba(33,37,41);
    color: white;
  }

  .dark-mode-carousel{
      background-color: rgba(33,37,41);
      color: white;
  }

  .hr-dark-mode{
    opacity: 1;
    border-color: white;
  }


  /* TOGGLE CSS CODE///////////////////////////////////// */

.toggle h4 {
    margin-left: 1em;
}

.toggle{
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 30px;
    margin: 0 0 0 1em;
  }

  #switch2{
      margin-left: 3em;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider.round .on-text{
      color: #ccc;
      margin: .4em 0 0 .5em;
      display: block;
      
  }
  

  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(33,37,41);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(52px);
    -ms-transform: translateX(52px);
    transform: translateX(52px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  input{
    margin-left: .5em;
  }

  footer{
    text-align: center;
  }

  
  

  @media screen and (min-width: 768px) {
    
    

    .grid-project{
      text-align: center;
      font-weight: bold;
      display: grid;
      grid-template-columns: auto auto;
    }

    #carouselExampleControls{
      display: none;
    }

    .project-img{
      width: 400px;
      height: 250px;
    }

    .github-img{
      width: 60px;

    }

    .github-icon{
      height: auto;
    }

   


}



   
    




  